.home-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  text-decoration: none;
}
.home-item.right {
  flex-direction: row-reverse;
}
.home-item.left {
  flex-direction: row;
}
.img-bubble {
  width: 40%;
  padding: 1.5rem;
  max-width: 15rem;
}
.home-thumbnail {
  width: 100%;
}
.name-holder {
  width: 45%;
  max-width: 13rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  text-decoration: none;
  transition-property: width, max-width, background-color;
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
}
.name-holder:hover {
  width: 50%;
  max-width: 15rem;
  transition-property: width, max-width, background-color;
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
}
.name-holder:hover h2 {
  color: #ffffff;
}
.right .name-holder {
  flex-direction: row-reverse;
  border: 0px solid transparent;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.left .name-holder {
  flex-direction: row;
  border: 0px solid transparent;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.page-name {
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: #000000;
}
